* {
	margin: 0;
	padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
	font-size: 16px;
}
.thumbnail {
	padding: 0;
}
.thumbnail img {
	width: 100%;
}
.thumbnail .caption-full {
	padding: 9px;
}

.userclass {
	text-transform: capitalize;
}

#delete-form {
    display: inline;
}