<!DOCTYPE html>
<html lang="en" ng-app="codecraft">
<head>
    <meta charset="UTF-8">
    <title>List of Things</title>
    <link href="./node_modules/bootstrap/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="./node_modules/ladda/dist/ladda-themeless.min.css" type="text/css" rel="stylesheet">
    <link href="./css/main.css" type="text/css" rel="stylesheet">

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand"
                    href="/" >Lists of Things
                </a>
            </div>
        </div>
    </div>

    <div class="container main-content">
        <div class="row">
            <div class="col-md-8" ng-controller="PersonListController">
                <div class="row">
                    <div class="col-md-12">
                        <form class="form-inline well well-sm">
                            <span class="glyphicon glyphicon-search"></span>

                            <div class="form-group">
                                <input type="input"
                                       class="form-control"
                                       id="name"
                                       ng-model="search"
                                       placeholder="Search name...">
                            </div>

                            &nbsp;<span class="glyphicon glyphicon-sort-by-attributes"></span>

                            <div class="form-group">
                                <select class="form-control"
                                        ng-model="order">
                                    <option value="name">Name (ASC)</option>
                                    <option value="-name">Name (DES)</option>
                                    <option value="email">Email (ASC)</option>
                                    <option value="-email">Email (DES)</option>
                                </select>
                            </div>

                            <button class="btn btn-primary pull-right" ng-click="showCreatModal()">Create</button>
                            <div class="clearfix"></div>

                        </form>

                        <table class="table table-bordered"
                               infinite-scroll="loadMore()"
                               infinite-scroll-distance="1"
                               infinite-scroll-immediate-check="false" >
                            <tr>
                                <th>#</th>
                                <th>Name
                                    <span ng-click="order = 'name'" class="glyphicon glyphicon-menu-up"></span>
                                    <span ng-click="order = '-name'" class="glyphicon glyphicon-menu-down"></span>
                                </th>
                                <th>Email
                                    <span ng-click="order = 'email'" class="glyphicon glyphicon-menu-up"></span>
                                    <span ng-click="order = '-email'" class="glyphicon glyphicon-menu-down"></span>
                                </th>
                                <th>Birthday</th>
                            </tr>

                            <tr ng-repeat="person in contacts.persons"
                                ng-style="{
                            'background-color': person.email == contacts.contacts.selectedPerson.email ? '#eee' : ''
                            }"
                                ng-click="contacts.selectedPerson = person">
                                <td>{{ $index }}</td>
                                <td>{{ person.name }}</td>
                                <td>{{ person.email }}</td>
                                <td>{{ person.birthdate | date: "longDate" }}</td>
                            </tr>
                        </table>
                        <!-- Warn when there are no matching contacts -->
                        <div ng-show="contacts.persons.length == 0 && !contacts.isLoading">
                            <div class="alert alert-info">
                                <p class=text-center>
                                    No results found for term '{{ search }}'
                                </p>
                            </div>
                        </div>
                        <!-- Show content isLoading -->
                        <div class="spinner" ng-show="contacts.isLoading">
                            <span us-spinner="{radius:8, width:5, length:3, lines:9}"></span>
                            <p>Loading...</p>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Warn when there are no matching contacts -->
            <div class="col-md-4" ng-controller="PersonDetailController">
                <div class="panel panel-default">
                    <div class="panel-heading">Details

                        <button class="btn btn-danger btn-sm pull-right"
                                ladda="contacts.isDeleting"
                                ng-click="remove()"> Delete
                        </button>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal"
                              ng-submit="save()"
                              novalidate>
                        <ng-include src="'/templates/form.html'"></ng-include>
                    </form>



                        <!--
                        <dl>
                            <dt>Name</dt>
                            <dd>{{contacts.selectedPerson.name}}</dd>

                            <dt>Email</dt>
                            <dd>{{contacts.selectedPerson.email}}</dd>

                            <dt>Birthday</dt>
                            <dd>{{contacts.selectedPerson.birthdate | date: "longDate"}}</dd>

                            <dt>Phone Number</dt>
                            <dd>{{contacts.selectedPerson.phonenumber}}</dd>

                            <dt>Address</dt>
                            <dd>{{contacts.selectedPerson.address}}</dd>

                            <dt>City</dt>
                            <dd>{{contacts.selectedPerson.city}}</dd>

                            <dt>Country</dt>
                            <dd>{{contacts.selectedPerson.country}}</dd>
                        </dl>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="./node_modules/angular/angular.min.js"></script>
    <script src="./node_modules/angular-resource/angular-resource.min.js"></script>
    <script src="./node_modules/ng-infinite-scroll/build/ng-infinite-scroll.min.js"></script>
    <script src="./node_modules/angular-auto-validate/dist/jcs-auto-validate.min.js"></script>
    <script src="./node_modules/spin.js/spin.min.js"></script>
    <script src="./node_modules/angular-spinner/angular-spinner.min.js"></script>
    <script src="./node_modules/ladda/dist/ladda.min.js"></script>
    <script src="./node_modules/angular-ladda/dist/angular-ladda.min.js"></script>
    <script src="./node_modules/angular-strap/dist/angular-strap.min.js"></script>
    <script src="./node_modules/angular-strap/dist/angular-strap.tpl.min.js"></script>

    <script src="./app.js"></script>

</body>
</html>
