body {
    margin-top: 100px;
}


.spinner {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    padding: 40px 0;
    p {
        margin-top: 20px;
    }
}

.table {
  .col-1 {
    width: 10%;
  }
  .col-2 {
    width: 30%;
  }
  .col-3 {
    width: 30%;
  }
  .col-4 {
    width: 30%;
  }
    tr {
      cursor: pointer;
        td {
            vertical-align: middle !important;
            .profile-photo {
                width: 30px;
                height: 30px;
            }
        }
    }
  tr:hover {
    background: #eee;
  }
}

.modal-backdrop.am-fade {
  opacity: .5;
  transition: opacity .15s linear;
  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      opacity: .5;
    }
  }
  &.ng-leave {
    opacity: .5;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}

.sortables {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  top: 5px;
  span:first-child {
    position: absolute;
    top: 0;
  }
  span:last-child {
    position: absolute;
    bottom: 0;
  }
  span {
    color: lightgray;
    font-size: 18px;
    cursor: pointer;
  }
  span:hover {
    color: #002a80
  }
}

.ladda-button .ladda-spinner {
  position: absolute;
  z-index: 2;
  display: inline-block;
  width: 32px;
  height: 32px;
  top: -2px;
  margin-top: 0;
  opacity: 0;
  pointer-events: none;
  right: 0;
  margin-right: 5px;
  outline: none;
}
