<% include partials/header %>

<div class="container">
    <header class="jumbotron">
        <h1>Welcome to YelpCamp! 
            <span><a class="btn btn-info btn-xs" href="/campgrounds/new" title="">Add New Campground</a></span>
        </h1>
        <p><mark>View our hand-picked campgrounds from ll over the world.</mark></p>
        <hr />
    </header>
</div>

<% include partials/footer %>