<% include partials/header %>

<div class="container">
	<div class="jumbotron">
		<h1>Login Page</h1>

		<form id="loginForm" action="/login" method="POST">
			<input id="username" name="username" type="text" placeholder="User Name">
			<input id="password" name="password" type="password" placeholder="Password">
			<button type="submit">Login</button>
		</form>
	</div>
</div>
	
	
<% include partials/footer %>