<% include partials/header %>
<div class="container">
    <header>
        <h1><%= campground.name %></h1>
        <hr />
    </header>
    
    <section class="clearfix">
        <img class="img-responsive" src="<%= campground.image %>" alt="Image for <%= campground.name %>"/>
        <p>Description: <%= campground.description %></p>
    </section>
</div>    
<% include partials/footer %>