<h1>Login Page</h1>
<form id="loginForm" action="/login" method="POST" >
	<input id="" type="text" name="username" placeholder="User Name">
	<input id="" type="password" name="password" placeholder="Password">
	<button type="submit">Login</button>
</form>

<ul>
	<li><a href="/register">Sign Up!</a></li>
	<li><a href="/login">Login</a></li>
	<li><a href="/logout">Logout</a></li>	
</ul>