<!DOCTYPE html>
<html lang="en" ng-app="minmax">
<head>
    <meta charset="UTF-8">
    <title>Controllers</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" >
    <link href="./css/main.css" rel="stylesheet" type="text/css" >
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand"
                   href="/"> Controllers
                </a>
            </div>
        </div>
    </nav>
    <div class="container main-content" ng-controller="MinMaxCtrl">
        <form ng-submit="onSubmit(theForm.$valid)"
              name="theForm"
              novalidate="novalidate">
            <div class="form-group">
                <label for="name" class="control-label">Name</label>
                <input type="text"
                       class="form-control"
                       ng-model="formModel.name"
                       id="name" >
            </div>

            <div class="form-group" ng-class="
                {'has-error':!theForm.email.$valid && !theForm.$pristine,
                'has-success':theForm.email.$valid && !theForm.$pristine}
            ">
                <label for="email" class="control-label">Email</label>
                <input type="email"
                       class="form-control"
                       ng-model="formModel.email"
                       id="email"
                       required="required"
                       >
            </div>

            <div class="form-group">
                <label for="username" class="control-label">Username</label>
                <input type="text"
                       class="form-control"
                       ng-model="formModel.username"
                       id="username" >
            </div>

            <div class="form-group">
                <label for="age" class="control-label">Age</label>
                <input type="number"
                       class="form-control"
                       ng-model="formModel.age"
                       id="age" >
            </div>

            <div class="form-group">
                <label for="age">Gender</label>
                <select name="select"
                       class="form-control control-label"
                       ng-model="formModel.gender"
                       id="gender" >
                    <option value="">Please Choose</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>

            <div class="form-group">
                <label for="password" class="control-label">Password</label>
                <input type="password"
                       class="form-control"
                       ng-model="formModel.password"
                       id="password" >
            </div>

            <div class="form-group">
                <button class="btn btn-primary" type="submit">Register
                </button>
            </div>

            <pre>{{ formModel | json }}</pre>

        </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

    <!-- Controllers -->
    <script src="app.js"></script>
</body>
</html>